/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
}

.header {
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  display: flex;
  padding: 8px;
  justify-content: space-between; /* This acted as the space between the two main containers that we have
                                  in our heading: the container consisting of the logo and links, and the 
                                  container consisting of the notifications and profile image */
}

.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height:  48px;
}

.logo {
  color: rebeccapurple;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
}

button {
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 8px 24px;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rebeccapurple;
}

ul {
  list-style-type: none;
  display: flex;
  /* Padding and margin were set to zero for the items found in the list, since there is 
  some predetermined padding that comes with displaying items in a list */
  padding: 0px; 
  margin: 0px;
  gap: 16px; /* This was used to adding 10px of space between the links found withing the ul flex container */
}

.section {
  display: flex; 
  gap: 16px; /* This was used in order to add 10px of space between the items found in each of the two main sub-flex containers
              For instance, this added 10px of space between the logo and the links, while also adding 10px of space between the 
              notification bar and profile image in the other sub-flex container */
  align-items: center; /* This was used in order to vertically center the two sub-flex containers on the header (aka. the main flex container) */
}
